.protyle-wysiwyg [data-node-id] span[data-type~=block-ref][style*="--memo"] {
    // color: var(--b3-theme-on-background);
    // border-bottom: 2px solid var(--b3-card-info-color);
    &:after{
        content: "æ³¨";
        vertical-align: top;
        font-size: 0.5em;
    }
}
